@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.information{
    color: white;
    font-family: Oswald;
}

.buy{
    font-family: Oswald;
    
}

.farley{
    color: white;
    font-family: Oswald;
}

.info{
    color: white;
    font-family: Oswald;
}